* {
  box-sizing: border-box;
}

body {
  background: #FBFBFB;
  color: #637277;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

#notFound {
  margin: 0 auto;
  color: #979d9e;
  display: none;
}

.full-form-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  min-height: 600px;
}

/* Login page */

.form-card {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 650px;
  height: 350px;
  padding: 100px 0px;
  background-color: #fff;
}

#formLogin, #formRoom {
  position: relative;
  display: none;
  z-index: 999;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #CDCDCD;
  font-size: 1.3em;
  cursor: pointer;
}

/************ chat screen ***********/

/****** sidebar *******/

.chat {
  display: none;
}

.content-holder {
  height: 500px;
  overflow: hidden;
  margin: 40px 40px 40px 30px;;
  min-height: 500px;
  width: 100%;
  border-radius: 10px;
  //background: #eceff1;
  border: 1px solid #DADADA;
}

.user-list {
  min-height: 200px;
  width: 100%;
  padding: 0px;
  overflow-y: scroll;
}

.room-list {
  position: relative;
  min-height: 200px;
  width: 100%;
  padding: 0px;
  overflow-y: scroll;
}

.content-label {
  width: 100%;
  background: #bdcbd2;
  padding: 10px;
  color: #555;
}

.users {
  height: calc(100%-42); //content label height
  margin: 0;
  width: 100%;
}

.users .user-preview {
  clear: both;
  padding: 10px 15px;
  width: 100%;
  border-bottom: 1px solid #DADADA;
}

.user-preview .circle-preview {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.3em;
  padding: 3px 2px;
  text-align: center;
}

.user-preview p {
  display: inline-block;
  margin: 0px;
  padding-left: 20px;
  padding-top: 5px;
  font-size: 1.2em;
}

.rooms {
  height: calc(100%-42); //content label height
  margin: 0;
  width: 100%;
  overflow-y: scroll;

  li {
    padding: 10px 15px;
    width: 100%;
    border-bottom: 1px solid #DADADA;

    a {
      text-decoration: none;
      color: inherit;
      font-size: 1.1em;
    }
  }
}

.remove-room {
  color: #be0000;
  cursor: pointer;
  display:inline-block;
  padding: 2px 10px 2px 2px;
}

.add-room-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
}

/************ chat area *************/

.chatArea {
  width: 66.66667%;
  margin: 0px 30px 0px 60px;
  position: absolute;
  top: 64px; //navbar
  bottom: 130px; //inputForm + 10px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding-top: 40px;
}

.messages .notification {
  color: #aaaaaa;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.notification .typing {}

.messages .chat-user {
  clear: both;
  width: 100%;
	margin-bottom: 10px;
	float: right;
  padding-right: 30px;
}

.messages .chat-other {
  clear: both;
  width: 100%;
	margin-bottom: 10px;
  float: left;
  padding-left: 30px;
}

.chat-base {
  text-align:left;
	display: inline-block;
	margin-bottom:10px;
  margin-top: 5px;
	padding: 15px;
	min-width: 160px;
	min-height: 10px;
	max-width: 500px;
	background-color: #FFF;
	color: #637277;
	line-height: 1.2;
	word-wrap: break-word;
}

.chat-user p {
  @extend .chat-base;
  float: right;
  margin-right:10px;
}

.chat-other p {
  @extend .chat-base;
  float: left;
  margin-left:10px;
}

.profile-base {
  clear:both;
	float:left;
	height: 75px;
	width: 80px;
	text-align:center;
	overflow: hidden;
}

.chat-user .profile {
  @extend .profile-base;
  float: right;
}

.chat-other .profile {
  @extend .profile-base;
  float: left;
}

.circle-base {
	width: 50px;
	height: 50px;
	border-radius: 50%;
  color: #fff;
  margin-bottom: 3px;
  font-size: 1.8em;
  padding: 7px;
  text-align: center;
}

.chat-user .profile .circle {
  @extend .circle-base;
  float: right;
  margin-right: 15px;
}

.chat-other .profile .circle {
  @extend .circle-base;
  float: left;
  margin-left: 15px;
}

.circle b {
	overflow: hidden;
	display: block;
	clear: both;
}

.divider-container {
  margin: 20px;
  overflow: hidden;
}

.clear-floats {
  height:0;
  line-height:0;
  display:block;
  clear:both;
}

/*********** input area ***********/

.inputForm {
  position: fixed;
  padding-top: 20px;
  bottom: 20px;
  margin-left: 20px;
  margin-right: 0px;
}

.icon-pad {
  padding-top: 10px;
}

.button-send {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 15px 10px;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
}

.send-word-pad {
  padding-bottom: 5px;
}

.send-icon-pad {
  padding-left: 5px;
  padding-top: 15px;
}

// .inputForm {
//   margin: 0px 40px 0px 80px;
//   width: 65%;
//   height: 80px;
//   position: fixed;
//   padding: 5px;
//   bottom: 40px;
// }
//
// .inputArea {
//   height: 70px;
//   width: 89%;
// 	display: block;
// 	float:left;
// 	margin: 0 auto;
// 	background-color: #f9f9f9;
// 	border: 1px solid #cccccc;
// 	border-radius: 2px;
// 	padding: 20px;
// 	font-size: 1.1em;
// 	color:inherit;
// }
//
// .inputButton {
//   width: 8%;
//   min-width: 70px;
//   height: 50px;
//   margin: 0 auto;
//   margin: 8px;
//   padding: 10px;
//   float:right;
// 	text-align:center;
//   background-color: #006064;
// 	display: inline-block;
// 	border: none;
// 	border-radius: 2px;
// 	color:white;
// 	//font-weight: bold;
// 	font-size: 1.2em;
// 	outline: none;
// 	cursor:pointer;
//   &:hover {
//     background-color: #00838f;
//   }
// }
//
//
// #submit {
// 	width: 110px;
// 	height: 60px;
// 	float:right;
// 	text-align:center;
// 	background-color: #73b4d4;
// 	display: block;
// 	margin: 0 auto;
// 	border: none;
// 	box-shadow: 3px 3px 3px #efedee;
// 	border-radius: 2px;
// 	color:white;
// 	font-weight: bold;
// 	font-size: 17px;
// 	outline: none;
// 	cursor:pointer;
// }
