extends layout 

block content 

  //- ul#messages 
  //- form(action="")
  //-   input(id="m")
  //-   button Send
  .row
    .full-body.valign-wrapper  
      .form-card.z-depth-2.valign
        h5 What's your nickname?
        .input-field.col.s8.offset-s2
          input#name(type='text', placeholder='Nickname', class='validate center-align large-input', maxlength = "15")
          //button#submitLogin(type='button', class='btn waves-effect waves-light') Submit 
    .chat  
      .col.s8.offset-s2
        .chatArea
          ul.messages
        .inputForm.blue-grey.lighten-3
          textArea#inputMessage(type='text', class='inputArea', placeholder='Send a chat...')
          #submitInput.inputButton SEND
        //- .row
        //-   .chatArea.col.s12
        //-     h1 test
        //-     ul.notifications
        //- .row 
        //-   .inputForm.col.s8
        //-     .col.s6
        //-       textArea#inputMessage(type='text', class='inputArea')
            
      
        
         
  script(src='/javascripts/home_chat.js')
